<?php
	error_reporting(E_ALL);
	ini_set('display_errors','On');
	ini_set('display_startup_errors','On'); 

	$s_dbHost = 'localhost';
	$s_dbUser = 'rmavery_test';
	$s_dbPass = 'PassTheHash#45';
	$s_dbName = 'rmavery_club';

	$s_pageLogin = '/login.php';
	$s_pageDefault = '/pending.php';
	$n_requestTtl = 24;

	 // list codes for each form. the codes are used as prefix. first code is default
/* $a_handlers = array (
	'contact',
	'contrib',
		'lostitem',
		'refund'
	);  */ 

?>